@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');

.logo{
    font-family: 'Great Vibes', cursive;
    color: #967f00;
    font-size: 35px;
}

.NavLogin{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.NavLogin ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.buttonNav{    
    text-decoration: none;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 10px;
}

.buttonNav:hover {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border: 1px solid #fff;
  }